{
    "daemon": {
        "pid": "test.pid",
        "dir": "."
    },
    "log": {
        "template": "test-%Y%m%d.log",
        "period":   86400,
        "save":     5,
        "level":    "trace"
    },
    "nodes": [
      "127.0.0.1:5001",
      "127.0.0.1:5002",
      "127.0.0.1:5003",
      "127.0.0.1:5004",
      "127.0.0.1:5005",
      "127.0.0.1:5006"
    ]
}

